<script>
  import Calendario from './Calendario'
  import actualizacionDisponible from './actualizacionDisponible'

  import {
    conseguirCalendarios,
    crearCalendario as _crearCalendario
  } from './util'

  let calendarios
  let error
  let cargando

  refrescar()

  function refrescar () {
    cargando = true
    return conseguirCalendarios()
      .then(_ => calendarios = _)
      .catch(_ => error = _)
      .finally(() => cargando = false)
  }

  async function crearCalendario (event) {
    const titulo = event.target.titulo.value
    await _crearCalendario(titulo)
    await refrescar()
  }
</script>

{#if $actualizacionDisponible}
  <button
    on:click={e => window.__registration.waiting.postMessage('skipWaiting')}
    class='actualizacion-disponible'
    >
      hay una actualización disponible! clik aqui :)
  </button>
{/if}

<div class='container'>
  <main>
    <h1>♥️ calendario binario ♥️</h1>
    {#if error}
      <p>algo salió mal. :(</p>
    {:else if cargando && !calendarios}
      <small>cargando...</small>
    {/if}
    {#if calendarios}
      <h2>mis calendarios</h2>
      {#each Object.entries(calendarios) as [titulo, calendario]}
        <Calendario {calendario} {titulo} {refrescar} />
      {/each}
      {#if Object.keys(calendarios).length < 1}
        <p>todavía no creaste ningún calendario.</p>
      {/if}
      {#if calendarios.length < 1}
        <p>
          no tenés ningún calendario.
          querés crear uno?
        </p>
      {/if}

      <form on:submit|preventDefault={crearCalendario}>
        <h3>crear calendario</h3>
        <input type='text' name='titulo' placeholder='nombre del calendario'>
        <br>
        <button>crear</button>
      </form>
    {/if}
  </main>

  <footer>
    <p>
      hecho con &lt;3 por v0idifier
      | <a href="//0xacab.org/v0id/calbin" target="_blank" rel="noopener noreferer">código</a>
    </p>
  </footer>
</div>

<style type='text/stylus'>
  h1
    filter grayscale(100%)

  .container
    display flex
    flex-direction column
    min-height 100vh

  main
    max-width 700px
    margin 0 auto
    text-align center
    flex 1 auto

  footer
    text-align center
    background #eee
    @media (prefers-color-scheme: dark)
      background #393939
    padding 15px
    margin-top 30px
    p
      margin 0

  .actualizacion-disponible
    position sticky
    top 0px
    background darkslateblue
    margin 0
    width 100%
    z-index 999
    cursor pointer
</style>
