<script>
  export let calendario
  export let titulo
  export let refrescar

  import localForage from 'localforage'

  import { conseguirCalendarios } from './util'

  const ETIQUETAS_DIAS = ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb']
  const ETIQUETAS_MESES = [
    'Enero', 'Febrero', 'Marzo', 'Abril',
    'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
    'Octubre', 'Noviembre', 'Diciembre',
  ]
  const DIAS_POR_MES = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

  let año = (new Date).getFullYear()
  let mes = (new Date).getMonth()

  $: hoy = (new Date).getDate()
  $: mesDeHoy = (new Date).getMonth()
  $: añoDeHoy = (new Date).getFullYear()

  let seleccionado
  $: seleccionado = hoy

  function estaHecho (dia, calendario) {
    return calendario
      && calendario.fechasHechas
      && calendario.fechasHechas[`${dia},${mes},${año}`] 
  }

  $: seleccionadoEstaHecho = estaHecho(seleccionado, calendario)
  $: primerDia = (new Date(año, mes, 1)).getDay()

  function genDiasDelMes (mes, año) {
    if (mes < 0) {
      año = -mes % 12 === 0 ? año - (-mes / 12) : año - Math.floor(-mes / 12)
      mes = 12 - (-mes % 12)
    }

    // una cosa rara para los días del mes
    return mes == 1 && ((año % 4 == 0 && año % 100 != 0) || año % 400 == 0)
      ? 29
      : DIAS_POR_MES[mes]
  }

  $: diasDelMes = genDiasDelMes(mes, año)
  let arrayMagico
  $: {
    let array = []
    let dia = 0 - primerDia
    for (let i = 0; i < 5; i++) {
      let semanaArray = []
      for (let j = 0; j <= 6; j++) { 
        const semana = {
          esteMes: dia >= 0 && dia < diasDelMes,
          pasado: ((añoDeHoy === año && mesDeHoy > mes) || añoDeHoy > año)
            || (mesDeHoy === mes && añoDeHoy === año && dia < hoy),
          num: dia + 1 > diasDelMes
            ? dia + 1 - diasDelMes
            : (dia < 0
              ? genDiasDelMes(mes - 1, año) + dia + 1
              : dia + 1),
        }
        semana.hecho = estaHecho(semana.num, calendario)
        semanaArray.push(semana)
        dia++
      }
      array.push(semanaArray)
    }
    arrayMagico = array
  }

  function cambiarMes (nuevoMes) {
    if (nuevoMes < 0) {
      año--
      nuevoMes = nuevoMes + 12
    }
    if (nuevoMes > 11) {
      año++
      nuevoMes = nuevoMes - 12
    }
    mes = nuevoMes
  }

  async function hacer (deshacer = false) {
    const calendarios = await conseguirCalendarios()
    const calendario = calendarios[titulo]
    const calendarioNuevo = {
      ...calendario,
      fechasHechas: {
        ...(calendario.fechasHechas || {}),
        [`${seleccionado},${mes},${año}`]: !deshacer,
      },
    }
    await localForage.setItem('calendarios', {
      ...calendarios, [titulo]: calendarioNuevo,
    })
    await refrescar()
  }
</script>

<div class='calendario'>
  <h3>{titulo}</h3>
  <button
    on:click={e => hacer(seleccionadoEstaHecho)}
    >
    {
      (seleccionadoEstaHecho ? 'no lo pude hacer ' : 'lo hice ') +
      ((seleccionado == hoy
        && añoDeHoy == año
        && mesDeHoy == mes)
        ? 'hoy' : `el ${seleccionado}`) +
      (seleccionadoEstaHecho ? ' :(' : '!')
    }
  </button>
  <table>
    <tr>
      <th>
        <button on:click={e => cambiarMes(mes - 1)}>&lt;</button>
      </th>
      <th colspan='5'>
        {ETIQUETAS_MESES[mes]} {año}
      </th>
      <th>
        <button on:click={e => cambiarMes(mes + 1)}>&gt;</button>
      </th>
    </tr>
    <tr>
      {#each ETIQUETAS_DIAS as etiqueta}
        <td>{etiqueta}</td>
      {/each}
    </tr>
    {#each arrayMagico as semana}
      <tr>
        {#each semana as dia}
          <td
            class:otro-mes={!dia.esteMes}
            class:dia-pasado={dia.pasado}
            class:seleccionado={dia.esteMes && dia.num == seleccionado}
            class:clickeable={dia.esteMes}
            class:hoy={añoDeHoy === año && mesDeHoy == mes && dia.num == hoy}
            class:hecho={dia.hecho}
            on:click={e => dia.esteMes && (seleccionado = dia.num)}
            >{dia.num}</td>
        {/each}
      </tr>
    {/each}
  </table>
</div>

<style type='text/stylus'>
  .calendario
    border 1px solid black
    margin 5px
    display inline-block
    h3
      border-bottom 1px solid black
      margin 0
      padding 5px
      background #f7f7f7
      @media (prefers-color-scheme: dark)
        background #393939

  th button
    background #eee
    color black
    @media (prefers-color-scheme: dark)
      background #444
      color white
    padding 0 10px
    &:hover
      background #ccc
      @media (prefers-color-scheme: dark)
        background #222

  table
    margin 0 auto

  .otro-mes
    color grey
  .dia-pasado
    background lightgrey
    @media (prefers-color-scheme: dark)
      background #222
  .seleccionado
    color white
    background black
    @media (prefers-color-scheme: dark)
      background #eee
      color #333
  .hoy
    background #ff5
    @media (prefers-color-scheme: dark)
      background darkorange
      color #333
  .hoy.seleccionado
    background darkorange
    @media (prefers-color-scheme: dark)
      background #ff5
      color #333
  .hecho
    background lightgreen
    @media (prefers-color-scheme: dark)
      background darkgreen
  .hecho.seleccionado
    background green
  td
    width 2em
  .clickeable
    cursor pointer
</style>
