html, body
  margin 0
  padding 0
  font-family monospace
  font-size 18px
  @media (prefers-color-scheme: dark)
    background #333
    color #ccc

input[type='text']
  appearance none
  background none
  border 2px solid #888
  padding 10px
  margin 3px 0
  font-size 1.2rem
  &:hover
    border 2px solid #444
    @media (prefers-color-scheme: dark)
      border-color #bbb
  &:focus
    border 2px solid black
    @media (prefers-color-scheme: dark)
      border-color white

button
  appearance none
  background #444
  color white
  @media (prefers-color-scheme: dark)
    background #bbb
    color #222
  &:hover
    background black
    @media (prefers-color-scheme: dark)
      background #eee
  border none
  font-size 1.5rem
  padding 7px 15px
  margin 5px

a
  @media (prefers-color-scheme: dark)
    color lightskyblue