<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="bundle.css" />
    <link rel="manifest" href="manifest.webmanifest" />
  </head>

  <body>
  </body>
</html>
